* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}


.header{
    width: 100%;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    font-size: 35px;  
    align-items: center; 
    background-color: #04C704;

}

.nav-list .fa-spotify:hover{
    cursor: pointer;
    color: whitesmoke;
}

.search-bar{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    align-items: center;
    font-size: 30px;
    width: 30%;
}

.search-bar input{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(243, 240, 237);
    border: 1px solid #04C704;
    width: 60%;
}

.search-bar .fa-magnifying-glass{
    margin-right: 10px;
    font-size: 27px;
    cursor: pointer;
}

.search-bar .fa-house:hover{
    cursor: pointer;
    color: whitesmoke;
}

.search-bar .fa-magnifying-glass:hover{
    color: whitesmoke;
}

.login{
    margin-top: -15px;
}

.login .btn, .login .btn-1{
    background-color: #04C704;  
    border-radius: 10px;
    border: 1px solid #04C704;
    font-size: 15px;
    font-weight: 550;
    margin: auto;
    text-decoration: none;
    padding: 9px 20px;
    position: relative;
    color: black;
}

.login .btn-1:hover{
    background-color: rgb(255, 255, 255);
}

.login .btn:hover{

    background-color: rgb(255, 255, 255);
}


/* ----------------------------------------------------------artists----------------------------------------------------- */

.artists{
    width: 100%;
    position: relative;
}

h2{
    color: white;   
    padding: 10px 25px;
    background-color: #212121; 
    cursor: pointer;
}

h2:hover{
    text-underline-position: below;
    text-decoration: solid ;
    text-decoration-line: underline;
}

.row{   
    display: flex;
    background-color: #212121;    
}

.artists-col{
    padding: 20px;
    cursor: pointer;
    margin-right: 65px;
    margin-left: 10px;
    transition: 0.5s;
}

.artists-col:hover{
    background-color: #3c3c3c;    
}

.artists-col img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
}

.artists-col:hover .play{
    display: inline;
}

.play{
    background-color: #04C704;
    padding: 0px 15px 0px 15px;
    border-radius: 50%;
    transform: translate(-80%,200%);
    position: absolute;
    display: none;
}

.play:hover{
    padding: 1px 16px 1px 16px;
}


.fa-play{
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    position: relative;
    transform: translate(5%,60%);
}

h3{
    color: white;
}

span{
    color: grey;
}


/* -------------------------------------------------------------albums------------------------------------------------------- */


.albums{
    background-color: #212121;
    width: 100%;
    padding-top: 100px;
}


.albums-col{
    padding: 20px;
    cursor: pointer;
    margin-right: 65px;
    margin-left: 10px;
    transition: 0.5s;
}

.albums-col:hover{
    background-color: #3c3c3c;    
}

.albums-col img{
    height: 150px;
    width: 150px;
    border-radius: 5%;
    position: relative;
}

.albums-col:hover .play{
    display: inline;
}


/* ----------------------------------------radio------------------------------------------- */

.radio{
    background-color: #212121;
    width: 100%;
    padding-top: 100px;
}


.radio-col{
    padding: 20px;
    cursor: pointer;
    margin-right: 65px;
    margin-left: 10px;
    transition: 0.5s;
}

.radio-col:hover{
    background-color: #3c3c3c;    
}

.radio-col img{
    height: 150px;
    width: 150px;
    border-radius: 5%;
    position: relative;
}

.radio-col:hover .play{
    display: inline;
}


/* -------------------------------------footer---------------------------------------- */

.footer{
    padding-top: 200px;
    background-color: #212121;
    padding-bottom: 50px;
    width: 100%;
}

.footer .row{
    display: flex;
    justify-content: space-around;
}


.footer-col ul li{
    list-style: none;
    cursor: pointer;
    line-height: 30px;
}

.footer-col ul li:hover span{
        text-underline-position: below;
        text-decoration: solid ;
        text-decoration-line: underline;
        color: white;
}

.logos{
    font-size: 30px;
}

.logos span:hover{
    cursor: pointer;
    color: whitesmoke;
}


@media (max-width:1000px) {

    .header{
        min-width: 370px;
    }

    .nav-list{
        display: flex;

    }

    .search-bar .fa-house{
        display: none;
    }

    .search-bar .fa-magnifying-glass{
        margin-left: 5%;
        margin-right: 5%;
    }

    .nav-list .fa-spotify{
        flex-basis: 10%;
    }

    .search-bar{
        flex-basis: 15%;
    }

    .search-bar input{
        width: 200px;
        margin-left: -45%;
    }

    .login .btn, .login .btn-1{
        padding: 1px 1px;

    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    h2 {
        text-align: center;
    }

    .artists-col{
        margin-left: 4rem;
    }

    .albums-col{
        margin-left: 4rem;
    }

    .radio-col{
        margin-left: 4rem;
    }

    .footer .row{
        transform: translateY(-20%);
    }

    .footer-col{
        padding-bottom: 30px;
        text-align: center;
    }

    .logos span{
        padding: 20px;
    }
}
